/* Sidebar container */
.offcanvas.custom-sidebar  {
    background-color: var(--sidebar-bg) !important; 
    color: var(--sidebar-text-color);
    border-left: 1px solid var(--sidebar-border);
}

/* Sidebar header */
.custom-sidebar .offcanvas-header {
    border-bottom: 1px solid var(--sidebar-border);
}

/* Sidebar title */
.custom-sidebar .offcanvas-title {
    font-size: 1.1rem;
    color: var(--sidebar-title-color);
}

/* Sidebar body */
.custom-sidebar .offcanvas-body {
    padding: 15px;
}

/* Styles the form label */
.custom-sidebar-label {
    font-size: 0.85rem;
    color: var(--sidebar-text-color);
}

/* Styles the input field */
.custom-sidebar-input {
    font-size: 0.85rem;
    padding: 5px;
    background-color: var(--sidebar-input-bg);
    color: var(--sidebar-input-text);
    border: 1px solid var(--sidebar-input-border);
    border-radius: 5px;
}

/* Input focus styling */
.custom-sidebar-input:focus {
    background-color: var(--sidebar-input-focus-bg);
    color: var(--sidebar-text-color);
    border-color: var(--sidebar-input-focus-border);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button styling */
.custom-sidebar-button {
    background-color: var(--sidebar-button-bg);
    color: var(--sidebar-button-text);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.custom-sidebar-button:hover {
    background-color: var(--sidebar-button-hover);
}

.dots::after {
    content: ".";
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% { content: "."; }
    33% { content: ".."; }
    66% { content: "..."; }
    100% { content: ""; }
}
  

.icon-transition {
    transition: transform 0.3s ease-in-out;
}

.icon-transition.scale-in {
    transform: scale(1.2);
}

.icon-transition.scale-out {
    transform: scale(0.5);
}