/* Sidebar container */
.offcanvas.custom-sidebar  {
    background-color: #2C2C2C !important; /* Dark background */
    color: #E0E0E0;
    border-left: 1px solid #444; /* Border matching cards */
}

/* Sidebar header */
.custom-sidebar .offcanvas-header {
    border-bottom: 1px solid #444;
}

/* Sidebar title */
.custom-sidebar .offcanvas-title {
    font-size: 1.1rem;
    color: #E0E0E0;
}

/* Sidebar body */
.custom-sidebar .offcanvas-body {
    padding: 15px;
}

/* Styles the form label */
.custom-sidebar-label {
    font-size: 0.85rem;
    color: #E0E0E0;
}

/* Styles the input field */
.custom-sidebar-input {
    font-size: 0.85rem;
    padding: 5px;
    background-color: #3A3A3A;
    color: #E0E0E0;
    border: 1px solid #444;
    border-radius: 5px;
}

/* Input focus styling */
.custom-sidebar-input:focus {
    background-color: #444;
    color: #FFF;
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button styling */
.custom-sidebar-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.custom-sidebar-button:hover {
    background-color: #0056b3;
}

.dots::after {
    content: ".";
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% { content: "."; }
    33% { content: ".."; }
    66% { content: "..."; }
    100% { content: ""; }
}
  