.custom-modal .modal-content {
    background-color: #1a1a1a;
    color: #86c5da;
    border-radius: 10px;
    border: 1px solid #333;
}

.custom-modal .modal-title {
    color: #9ddcff;
    text-align: center;
    margin-bottom: 10px;
}

.custom-hr{
    border-color: #444;
    opacity: 0.7;
}

.custom-modal .modal-link {
    color: #5cb3ff;
    text-decoration: none;
    font-weight: bold;
}

.custom-modal .modal-link:hover {
    text-decoration: underline;
    color: #86c5da;
}

.custom-modal .modal-body {
    padding: 20px;
}

.custom-modal .modal-dialog {
    max-width: 1228px;
    width: 100%;
}



/* hours accordion  */
.custom-accordion .accordion-item {
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #86c5da;
}

.custom-accordion .accordion-header {
    background-color: #222;
    color: #9ddcff;
}

.custom-accordion .accordion-button {
    background-color: #222;
    color: #9ddcff;
}

.custom-accordion .accordion-button:not(.collapsed) {
    background-color: #333;
    color: #9ddcff;
}

.custom-accordion .accordion-button:focus {
    box-shadow: none;
}


/* Hours list items */
.list-group.custom-listgroup {
    background-color: #1a1a1a;
}

.list-group-item.custom-listitem {
    background-color: #222;
    color: #86c5da;
    border-bottom: 1px solid #444;
}

.list-group-item.custom-listitem:last-child {
    border-bottom: none;
}


/* item cards */
.card.custom-card {
    /* background-color: #1a1a1a; */
    background-color: #252525;
    color: #86c5da;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #333;
}

.card.custom-card-title {
    color: #9ddcff;
    font-size: 1.2rem;
    font-weight: bold;
}

.card.custom-card-price {
    color: #5cb3ff;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.9;
}

.card.custom-card-text {
    color: #d0d0d0;
    font-size: 0.95rem;
    opacity: 0.8;
}


/* modal close button  */
.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    color: #9ddcff; /* Light blue */
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.modal-close-btn:hover {
    color: #5cb3ff; /* Brighter blue */
}