.custom-modal .modal-content {
    background-color: var(--modal-bg);
    color: var(--modal-text-color);
    border-radius: 10px;
    border: 1px solid #333;
}

.custom-modal .modal-title {
    color: var(--modal-title-color);
    text-align: center;
    margin-bottom: 10px;
}

.custom-hr{
    border-color: var(--modal-border-color);
    opacity: 0.7;
}

.custom-modal .modal-link {
    color: var(--modal-link-color);
    text-decoration: none;
    font-weight: bold;
}

.custom-modal .modal-link:hover {
    text-decoration: underline;
    color: var(--modal-link-hover);
}

.custom-modal .modal-body {
    padding: 20px;
}

.custom-modal .modal-dialog {
    max-width: 1228px;
    width: 100%;
}



/* hours accordion  */
.custom-accordion .accordion-item {
    background-color: var(--accordion-bg);
    border: 1px solid var(--modal-border-color);
    color: var(--accordion-text);
}

.custom-accordion .accordion-header {
    background-color: var(--accordion-bg);
    color: var(--modal-title-color);
}

.custom-accordion .accordion-button {
    background-color: var(--accordion-bg);
    color: var(--modal-title-color);
}

.custom-accordion .accordion-button:not(.collapsed) {
    background-color: var(--modal-border-color);
    color: var(--modal-title-color);
}

.custom-accordion .accordion-button:focus {
    box-shadow: none;
}


/* Hours list items */
.list-group.custom-listgroup {
    background-color: #1a1a1a;
}

.list-group-item.custom-listitem {
    background-color: var(--list-item-bg);
    color: var(--modal-text-color);
    border-bottom: 1px solid var(--list-border);
}

.list-group-item.custom-listitem:last-child {
    border-bottom: none;
}


/* item cards */
.card.custom-card {
    /* background-color: #1a1a1a; */
    background-color: var(--card-bg);
    color: var(--card-text-color);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid var(--card-border);
}

.card.custom-card-title {
    color: var(--modal-title-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.card.custom-card-price {
    color: var(--modal-link-color);
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.9;
}

.card.custom-card-text {
    color: var(--text-color);
    font-size: 0.95rem;
    opacity: 0.8;
}


/* modal close button  */
.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    color: var(--close-btn-color);
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.modal-close-btn:hover {
    color: var(--close-btn-hover);
}